---
---

$header-bg-color-secondary: rgb(235, 55, 93);
$header-bg-color: rgb(00, 04, 61);
@import "{{ site.theme }}";
h2 {
  color: rgb(235, 55, 93) !important;
}
a {
  color: rgb(00, 04, 61) !important;
}
table {
  padding: 50px !important;
}
