---
---

$header-bg-color-secondary: rgb(235, 55, 93);
$header-bg-color: rgb(00, 04, 61);
@import "{{ site.theme }}";
h1, h2, h3 {
  color: rgb(00, 04, 61) !important;
}
h1.project-name {
  color: rgb(255, 255, 255) !important;
}
a {
  color: rgb(195, 25, 63) !important;
}
